/* Nav */
#mainNav {
    border-top: 1px double #fff;
    border-bottom: 1px double #fff;
    margin-bottom: .5rem;
}

#categoriesNav ul {
    border: 1px solid #fff;
    border-radius: 4px;
    gap: 0rem 1rem 1rem 1rem;
}

/* Todos los links (a) dentro de los nav */
nav ul li a {
    text-decoration: none;
    color: #999
}

/* Responsive */

@media (max-width: 600px) {
    #categoriesNav {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    #categoriesNav ul {
        border: none;
    }
    
    #categoriesNav li {
    border: 1px solid #fff;
    border-radius: 4px;       
    } 
}